blinker; python_version >= "3.9" and python_version < "4.0"
cachetools; python_version >= "3.9" and python_version < "4.0"
chardet; python_version >= "3.9" and python_version < "4.0"
click; python_version >= "3.9" and python_version < "4.0"
colorama; python_version >= "3.9" and python_version < "4.0"
cssbeautifier; python_version >= "3.9" and python_version < "4.0"
distlib; python_version >= "3.9" and python_version < "4.0"
djlint; python_version >= "3.9" and python_version < "4.0"
editorconfig; python_version >= "3.9" and python_version < "4.0"
exceptiongroup; python_version >= "3.9" and python_version < "3.11"
filelock; python_version >= "3.9" and python_version < "4.0"
flask-wtf; python_version >= "3.9" and python_version < "4.0"
flask; python_version >= "3.9" and python_version < "4.0"
flask[dotenv]; python_version >= "3.9" and python_version < "4.0"
html-tag-names; python_version >= "3.9" and python_version < "4.0"
html-void-elements; python_version >= "3.9" and python_version < "4.0"
importlib-metadata; python_version >= "3.9" and python_version < "3.10"
iniconfig; python_version >= "3.9" and python_version < "4.0"
itsdangerous; python_version >= "3.9" and python_version < "4.0"
jinja2; python_version >= "3.9" and python_version < "4.0"
jsbeautifier; python_version >= "3.9" and python_version < "4.0"
json5; python_version >= "3.9" and python_version < "4.0"
markupsafe; python_version >= "3.9" and python_version < "4.0"
packaging; python_version >= "3.9" and python_version < "4.0"
pathspec; python_version >= "3.9" and python_version < "4.0"
platformdirs; python_version >= "3.9" and python_version < "4.0"
pluggy; python_version >= "3.9" and python_version < "4.0"
pyproject-api; python_version >= "3.9" and python_version < "4.0"
pytest; python_version >= "3.9" and python_version < "4.0"
python-dotenv; python_version >= "3.9" and python_version < "4.0"
pyyaml; python_version >= "3.9" and python_version < "4.0"
regex; python_version >= "3.9" and python_version < "4.0"
ruff; python_version >= "3.9" and python_version < "4.0"
six; python_version >= "3.9" and python_version < "4.0"
tomli; python_version >= "3.9" and python_version < "3.11"
tox; python_version >= "3.9" and python_version < "4.0"
tqdm; python_version >= "3.9" and python_version < "4.0"
virtualenv; python_version >= "3.9" and python_version < "4.0"
werkzeug; python_version >= "3.9" and python_version < "4.0"
wtforms; python_version >= "3.9" and python_version < "4.0"
zipp; python_version >= "3.9" and python_version < "3.10"
